<div *ngIf="dataOb | async; let row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/reg/entity">Entities</a></li>
      <li class="breadcrumb-item"><a routerLink="/reg/entity/{{row.id}}">Entity</a></li>
      <li class="breadcrumb-item active" aria-current="page">Find Data</li>
    </ol>
  </nav>

  <h1>Find Data in Table</h1>
  <p>
    Actions:
    <button class="btn btn-outline-primary btn-sm" (click)="run('blob')">Run Blob</button>
  </p>

  <!-- div><strong>Id:</strong> {{row.id}}</div>
  <div><strong>Name:</strong> {{row.name}}</div>
  <div><strong>Type:</strong> {{row.type}}</div -->
  <br/><br/><br/>
  <div>
    <div *ngFor="let dataLayer of dataLayers">
      <app-display-data-as-html-table [dataTable]="dataLayer"></app-display-data-as-html-table>
    </div>
  </div>
  <br/>

</div>
