<h1>Generic Add Entity</h1>

<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label text-right">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputName" [(ngModel)]="obj.name" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputType" class="col-sm-2 col-form-label text-right">Type</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputType" [(ngModel)]="obj.type" name="type">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-8">
      <button id="submit" name="submit" class="btn btn-primary" (click)="addEntity(obj)">Add</button>
    </div>
  </div>

</form>
