<h1>Import Data</h1>

<button class="btn btn-outline-primary" (click)="readSpreadsheet()">Read Spreadsheet from Clipboard</button>
&nbsp;
<button class="btn btn-outline-primary" (click)="readSample1()">Read Sample Data 1</button>
&nbsp;
<button class="btn btn-outline-primary" (click)="readSample2()">Read Sample Data 2</button>


<div *ngIf="clipboardService.getRawData() | async; let rawData">

  <accordion>
    <accordion-group heading="Raw Data" [isOpen]="procs?.length === 0">
      <button type="button" class="btn btn-outline-primary float-right" (click)="onSave(rawData)">Save</button>
      <h2>Raw Data</h2>

      <div class="overflow-auto bg-light">
        <!-- Raw data is always text, not json, so don't use app-prep-json. -->
        <pre>{{rawData}}</pre>
      </div>
    </accordion-group>

    <accordion-group *ngFor="let proc of procs; let i=index" heading="Step {{i}}: {{proc}}"
                     [isOpen]="(i+1) === procs.length">
      <h2>Step {{i}}: {{proc}}</h2>
      <button type="button" class="btn btn-outline-primary float-right" (click)="onSave(outputs[i])">Save</button>

      <app-display-data [data]="outputs[i]"></app-display-data>
    </accordion-group>

  </accordion>

  <span *ngFor="let choice of textprocService.getProcs()">
    <button class="btn btn-outline-primary" (click)="applyProc(choice)">{{choice}}</button>
  </span>
  <button class="btn btn-outline-primary" (click)="tryAsSpreadsheet()">Try As Spreadsheet</button>
</div>
