greenlet==1.0.0
hupper==1.10.2
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
psycopg2==2.8.6
Pygments==2.8.1
pyramid==2.0
pyramid-debugtoolbar==4.9
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyramid-tm==2.4
repoze.lru==0.7
SQLAlchemy==1.4.5
transaction==3.0.1
translationstring==1.4
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.3.0
zope.sqlalchemy==1.3
