<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/reg/entity">Entities</a></li>
    <li class="breadcrumb-item active" aria-current="page">Entity</li>
  </ol>
</nav>

<h1>View Entity</h1>

<div *ngIf="dataOb | async; let row">
  <p>
    Actions:
    <a routerLink="/reg/entity/{{row.id}}/add">Add Child</a>
    &nbsp;&nbsp;
    <a routerLink="/reg/entity/{{row.id}}/stats">View Stats</a>
    <span *ngIf="row?.fields?._type === 'jsonTable'">
      &nbsp;&nbsp;
      <a routerLink="/reg/entity/{{row.id}}/editTable">Edit Table</a>
      &nbsp;&nbsp;
      <a routerLink="/reg/entity/{{row.id}}/findData">Find Data</a>
    </span>
    <span *ngIf="row?.fields?._type !== 'jsonTable'">
      &nbsp;&nbsp;
      <a routerLink="/reg/entity/{{row.id}}/editTable" [queryParams]="{forceEditAsTable: 'T'}">Force Edit As Table</a>
    </span>
    &nbsp;&nbsp;
    <a routerLink="/reg/work" fragment="entity-{{row.id}}">Work on this</a>
  </p>

  <div *ngIf="row.parent">
    Parent: <a routerLink="/reg/entity/{{row.parent.id}}">{{row.parent.name}} {{row.parent.type}}</a>
  </div>

  <div><strong>Id:</strong> {{row.id}}</div>
  <div><strong>Name:</strong> {{row.name}}</div>
  <div><strong>Type:</strong> {{row.type}}</div>
  <br/>
  <div><app-display-data [data]="row.fields"></app-display-data></div>
  <br/>

  <div *ngIf="row?.children.length > 0">
    <h2>Children</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Parent Id</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let child of row.children">
        <td><a routerLink="/reg/entity/{{child.id}}">{{child.id}}</a></td>
        <td>{{child.parent_id}}</td>
        <td>{{child.name}}</td>
        <td>{{child.type}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
