table {
  transform: perspective(400px) rotateX(45deg);
}

table, td, th {
  border: 1px solid black;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td:empty::after {
  content: "\00a0";
}

