<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/reg/entity">Entities</a></li>
    <li class="breadcrumb-item active" aria-current="page">Entity</li>
  </ol>
</nav>

<h1>Work on Entity</h1>
<div *ngIf="dataOb | async; let row">
  <!-- p>
    Actions:
  </p -->

  <div *ngIf="row.parent">
    Parent: <a routerLink="/reg/entity/{{row.parent.id}}">{{row.parent.name}} {{row.parent.type}}</a>
  </div>

  <div><strong>Id:</strong> {{row.id}}</div>
  <div><strong>Name:</strong> {{row.name}}</div>
  <div><strong>Type:</strong> {{row.type}}</div>
  <br/>

  <accordion>
    <accordion-group heading="Raw Data" [isOpen]="procs?.length === 0">

      <span *ngFor="let choice of textprocService.getProcs()">
        <button class="btn btn-outline-primary" (click)="applyProc(choice)">{{choice}}</button>
      </span>
      <!-- button type="button" class="btn btn-outline-primary float-right" (click)="onSave(rawData)">Save</button -->
      <div class="overflow-auto bg-light">
        <div><app-display-data [data]="row.fields"></app-display-data></div>
      </div>
    </accordion-group>

    <accordion-group *ngFor="let proc of procs; let i=index" heading="Step {{i}}: {{proc}}"
                     [isOpen]="(i+1) === procs.length">
      <h2>Step {{i}}: {{proc}}</h2>
<!--      <button type="button" class="btn btn-outline-primary float-right" (click)="onSave(outputs[i])">Save</button>-->

      <app-display-data [data]="outputs[i]"></app-display-data>
    </accordion-group>

  </accordion>
</div>
